# Android
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
*.iml
.idea/
*.hprof

# iOS
*.xcworkspace
xcuserdata/
DerivedData/
*.ipa
Pods/

# OS
.DS_Store
Thumbs.db
*.swp

# IDE
.vscode/
*.sublime-*
